
body {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
	position: relative;
}

@font-face {
	font-family: DancingScript;
	src: url("../fonts/dancing-script-ot/DancingScript-Regular.otf") format("opentype");
}

#header {
	width: 100%;
	height: 100px;
	background: url(../images/banner-top.png)repeat-x;
	position: relative;
	z-index: 100;
}

#logo {
	position: absolute;
    left: 50%;
    margin-left: -119.5px;
}

#number-top {
	float: right;
	margin-right: 100px;
	margin-top: 20px;
}

/***************************************
PANEL 1
***************************************/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}

.fullscreen-bg:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIW2NkYGD4z8DAwMgABTAGXBAuA1OJLADS9B8AguEEBAsMPcgAAAAASUVORK5CYII=)repeat;
}

/*#dot-bg {
	background-image: url(http://s14.directupload.net/images/111129/44ga9qid.png);
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}*/

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    margin-left: -100%;
  }
}

#panel1 {
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-bottom: 255px;
    position: relative;
}


#panel1  p {
	font-family: 'Andada', serif;
	color: white;
	-webkit-text-shadow: 2px 2px 5px black;
	text-shadow: 2px 2px 5px black;
	font-size: 37pt;
	text-align: left;
	display: inline-block;
	line-height: 50pt;
}

#panel1 span {
	font-family: 'DancingScript', cursive;
	color: #8ec741;
	font-size: 68pt;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
	padding-top: 50px;
}

#banner-bottom {
	width: 100%;
	height: 100px;
	background: url(../images/banner-bottom.png)repeat-x;
}

#button-top{
	padding: 0px 10px;
	border-radius: 10px;
	border: solid 3px #8ec741;
	color: white;
	font-family: 'Andada', serif;
	text-shadow: 0px 0px 5px white;
	text-decoration: none;
	font-size: 15pt;
	box-shadow: 0px 3px 10px black;
}

#arrow {
	position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}


/*******************************************
PANEL 2
*******************************************/


#panel2 {
	width: 100%;
	overflow: auto;
	background: white;
	position: relative;
	background: url(../images/grass.jpg)no-repeat;
	background-size: cover;
}

#banner-bottom p {
	color: #578069;
	font-family: 'Andada', serif;
	font-size: 17pt;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 25pt;
    padding-top: 8px;
}

#banner-bottom span {
	color: #8ec741;
}

#copy-text {
	width: 60%;
	margin: 0 auto;
	margin-top: 320px;
	margin-bottom: 50px;
}

#copy-text  p {
	font-family: 'Andada', serif;
	font-size: 14pt;
	color: white;
	text-align: center;
	letter-spacing: 1pt;
}

#copy-text span {
	color: #8ec741;
}

#banner-bottom {
	position: relative;
	z-index: 80;
}

#flags {
	margin-top: -65px;
	position: absolute;
	z-index: 0;
	left: 50%;
    margin-left: -480px;
}

#flags img {
	width: 960px;
}

#copy-text > img {
	display: block;
    margin: 0 auto;
}



/*******************************************
PANEL 3
*******************************************/

#panel3 {
	width: 100%;
	overflow: auto;
	background: url(../images/panel3-bg.jpg)no-repeat;
	background-size: cover;
}


.item {
	padding: 10px;
}

.owl-carousel {
	margin-bottom: 50px;
}

.owl-carousel img {
	border: 3px solid white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0 7px 4px -4px gray;
	-webkit-box-shadow: 0 7px 4px -4px gray;
	-moz-box-shadow: 0 7px 4px -4px gray;
	-o-box-shadow: 0 7px 4px -4px gray;
}

#panel3-text {
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}

#panel3-text p {
	font-size: 30pt;
	font-family: 'Andada', serif;
	color: #4c775f;
	margin: 0 auto;
	width: 40%;
}

#panel3-text p:before {
	border-top: 4px solid #4c775f;
    display: block;
    height: 1px;
    content: " ";
    width: 30%;
    position: absolute;
    left: 0;
    top: 95px;
}

#panel3-text p:after {
	border-top: 4px solid #4c775f;
    display: block;
    height: 1px;
    content: " ";
    width: 30%;
    position: absolute;
    right: 0;
    left: auto;
    top: 95px;
}

#panel3-text span {
	color: #8dc642;
}

/*.wrapper img {
	text-align: center;
	margin: 0 auto;
}*/


/*******************************************
FOOTER
*******************************************/

#footer {
	width: 100%;
	height: 90px;
	background: url(../images/footer.jpg)repeat-x;
	position: relative;
}

#footer p {
	color: white;
	font-family: helvetica;
	font-size: 10pt;
	width: 200px;
}

#social {
	width: 204px;
	position: absolute;
	left: 50%;
	margin-left: -102px;
	top: 50%;
	margin-top: -25.5px;
}

#social li, #social a {
	text-decoration: none;
	list-style: none;
}

#social li {
	float: left;
	padding-right: 10px;

}

#rights {
	margin: 0 auto;
	position: absolute;
	left: 10%;
	top: 30px;
}

#msco {
	position: absolute;
	right: 10%;
	top: 30px;
	margin: 0 auto;
}

/***********************************
FORM
***********************************/

#contact-form {
	width: 60%;
	background: white;
	overflow: auto;
	margin: 0 auto;
	padding: 0;
	background: url(../images/form-box.jpg)repeat-x;
	background-size: cover;
    background-position: center center;
    font-family: 'Andada', serif;
    padding-top: 95px;
    border: solid 3px #648976;
    box-shadow: 0px 0px 15px white;
    -webkit-box-shadow: 0px 0px 15px white;
    -moz-box-shadow: 0px 0px 15px white;
    -o-box-shadow: 0px 0px 15px white;
    position: relative;
}

#form {
	position: absolute;
	top: 80px;
	bottom: 0;
	z-index: 90;
	width: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}

#fields {
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

input {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	padding-left: 5px;
	margin-left: -5px;
	border: solid 3px #648976;
	font-family: 'Andada', serif;
    font-variant: small-caps;
    font-size: 14pt;
    color: #648976;
}

textarea {
	vertical-align: top;
	resize: none;
	border: solid 3px #648976;
	padding-left: 5px;
	margin-left: -5px;
	font-family: 'Andada', serif;
    font-variant: small-caps;
    font-size: 14pt;
    color: #648976;
}

#message {
	height: 170px;
	width: 100%;
}

button {
    width: 105px;
    margin: 20px 0;
    margin-bottom: 40px;
    background: none;
    height: 35px;
    border: solid 3px #648976;
    float: right;
    margin-right: -8px;
    font-family: 'Andada', serif;
    font-variant: small-caps;
    font-size: 14pt;
    color: #648976;
    cursor: pointer;
}

#contact-form h1 {
    font-variant: small-caps;
    font-size: 28pt;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    color: #6;
    color: #648976;
    text-shadow: 1px 1px 2px gray;
    line-height: 32pt;
    letter-spacing: 2pt;
}

#contact-form span {
    font-size: 35pt;
    color: white;
}

div#messagebox {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: block;
    clear: both;
}

#messagebox img {
	width: 20px;
}

a.clear {
    position: absolute;
    top: 0;
    left: 0;
}

.clear img {
	width: 55px;
}






